.main {
  padding: 14px;
  margin-top: 10px;
  background: #ffdfa7;
}

.main p {
  margin-bottom: 10px;
}

.main button {
  border: none;
  background: white;
  padding: 6px 12px;
  cursor: pointer;
}

.main button[disabled] {
  cursor: default;
}
