.wrap h2 {
  margin-bottom: 10px;
}

.wrap h2 + .time {
  margin-bottom: 40px;
}

.wrap h2 span {
  padding: 4px 8px;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
}

.wrap h2 div {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-bottom: -38px;
}

.wrap li {
  margin-bottom: 20px;
  position: relative;
}

.wrap li input[type="radio"] {
  position: absolute;
  font-size: 14px;
  margin-top: 2px;
  cursor: pointer;
}

.wrap li label {
  cursor: pointer;
}

.wrap li div {
  margin-left: 22px;
}

.time {
  color: #9a9a9a;
  font-size: 12px;
}

.listWrap {
  margin-bottom: 20px;
}

.toggleCollapse {
  float: right;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.wrap h3 {
  background: #87bdf5;
  color: white;
  margin-bottom: 10px;
}

.createField {
  padding: 10px 15px;
  border: 2px solid #7878ff;
  margin-top: 20px;
}

.createField:not(:disabled) {
  cursor: pointer;
}

.createField:hover:not(:disabled) {
  background: #e2e2ff;;
}

.createBoardError {
  padding: 10px 0 0 20px;
}

.link {
  text-decoration: underline;
}